@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
* {
  box-sizing: border-box;
  font-family: "Open Sans";
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  width: 70%;
  margin-left: 15% !important;
  margin-right: 15% !important;
  border: 1px solid black !important;
  border-radius: 1px;
}

.intro {
  width: 70%;
  max-width: 70%;
  margin: 1rem auto;
  padding-top: 3rem;
  text-align: center;
}

.intro h1 {
  color: rgb(42, 42, 42);
  text-align: left;
  font-size: min(50px, 10vw);
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
}

.intro h2 {
  color: rgb(42, 42, 42);
  text-align: left;
  font-size: 20px;
  font-weight: 100;
}

.project-item {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-description img {
  flex: 1;
  max-width: 100%;
}

.project-description {
  flex: 1;
}

.project-description h2 {
  font-size: 2rem;
  margin: 1rem 0;
  color: rgb(42, 42, 42);
}

.project-description p {
  font-size: 1rem;
}

.project-link {
  display: inline-block;
  margin: 2rem 0;
  font-size: 1rem;
}
